.home {
  background-image: url('../../assets/images/fundo.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.46);

}



.logo-btns {
  height: 80%;
  width: 100%;
  display: flex;

}
.contato {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}
.divisor1 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divisor2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 90%;
}

.botoes {
  width: 60%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



.botoes button {
  width: 70%;
  height: 8%;
  border: 1px solid transparent;
  background-color: #f1ebe5;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 3px;
  cursor: pointer;
  z-index: 2;
}

.botoes button:hover{
  box-shadow: inset 0px 0px 27px -6px rgba(0,0,0,1);
}

.contatos {
  width: 75%;
  height: 6%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.insta {
  width: 30px;
  height: 30px;
}

.mail {
  width: 40px;
  height: 30px;
}

.linktree {
  width: 90px;
  height: 20px;
}

@media screen and (max-width: 1534px) {

}

@media screen and (max-width: 1149px) {

  .home{
    height: 100vh;
    background-image: url('../../assets/images/fundo-mbl.png');
    background-size: cover;
  }

  .divisor1 {
    width: 100%;
  
  }
  
  .logo-btns{
    flex-direction: column;
  }

  .divisor2{
    width: 100%;
  }

  .botoes{
    width: 100%;
    height: 100%;
  }

  .botoes button{
    height: 50px;
    text-decoration: none;
    color: #000;
  }

  .logo {
    width: 500px;
    text-align: center;
  }
  .contatos {
    width: 70%;
    margin-top: 30px;
    
  }
  .contatos a {
    margin: 10px;
  }
}

