.blog-mob-principal{
    width: 100vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-mob{
    width: 95%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.divisor-blog-mob{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ebook-mob{
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-around;  

}

.card-blog-mob{
    width: 95%;
    height: 75px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F1F0E7;
}

.card-breve-mob{
    width: 95%;
    height: 250px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #D0D8B0;
}

.seta-breve{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
}

.text-breve-branco p{
    font-size: 1.5rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.card-breve2-mob{
    width: 95%;
    height: 85px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color:#777D5C;
}



.card-artigo-mob{
    width: 95%;
    height: 240px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-image: url('../../assets/images/artigo.png');
}

.topo-artigo{
    width: 95%;
    display: flex;
    height: 30%;
    align-items: flex-end;
}

.topo-artigo p{
    font-size: 1.4rem;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 450;
}

.link-artigo-mob{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.link-artigo-mob a{
    width: 80%;
    font-size: 1rem;
    color: black;
    font-family: 'Raleway';
    font-weight: 450;
}

.seta-artigo{
    width: 80%;
    display: flex;
}

.ebook-logo-mob{
    width: 95%;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F1F0E7;
}

.cards-ebook-mob{
    width: 100%;
    height: 100px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.emocional-mob{
    width: 30%;
    height: 100%;
    border-radius: 15px;

    background-image: url('../../assets/images/ebooklinguagensdoamor.png');
    background-size: cover;
    background-position: center;

}

.luto-mob{
    width: 30%;
    height: 100%;
    border-radius: 15px;

    background-image: url('../../assets/images/luto.jpg');
    background-size: cover;
    background-position: center;

}

.ciclo-mob{
    width: 30%;
    height: 100%;
    border-radius: 15px;

    background-image: url('../../assets/images/ebookciclomenstrual.png');
    background-size: cover;

}

.icon-download-mob{
    margin: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}


@media screen and (min-width: 1300px) {
    .blog-mob-principal{
        display: none;
    }
}