.sobre-mim{
    background-color: #F6F8F4;
    width: 100vw;
    height: 100vh;
    padding: 1% 0;

}

.sobre-mim-principal{
    margin-top: 2%;
    width: 99%;
    height: 88%;
    background-color: #777E5C;
    border-radius: 100px 500px 500px 100px;
    display: flex;
}
.textos-sobre{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sobre-mim-texto{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sobre-mim-texto h1{
    color: #FFFFFF;
    font-size: 3.5rem;
    font-weight: 500;
    font-family: 'Agrandir';
}
.sobre-mim-texto p{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 15px;
    text-align: center;
}

.sobre-mim-topo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-mim-texto a{
    text-decoration: none;
    text-shadow: 2px 2px  #A0A19F;
    background-color: #F6F8F4;
    width: 50%;
    height: 8%;
    margin-top: 5%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #706F21;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0px 23px 59px -12px rgba(0,0,0,0.75);
    margin-bottom: 50px;
}   


.div-foto-jac{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sobre-mim-topo-mbl{
   display: none;
}

.foto-jac{
    border: 1px solid white;
    border-radius: 100px;
    width: 40%;
    height: 70%;
    background-image: url("../../assets/images/foto-jac.jpg");
    background-size: cover;
    
}


@media screen and (max-width: 1534px) {
    .sobre-mim{
        padding: 0;

    }

    .sobre-mim-principal{
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 0px 0px;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        margin: 0px;
        background-color: #F6F8F4;
    }


    .textos-sobre{
        width: 100%;
        height: 50%;
        height: min-content;
        justify-content: center;
    }
    .div-foto-jac{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    
    }
    

    .foto-jac{
        border: 1px solid transparent;
        border-radius: 100px;
        width: 200px;
        height: 350px;
        background-image: url('../../assets/images/foto2jac.png');
        
    }

    .sobre-mim-texto h1{
        color: #706F21 ;
    }
    
    .sobre-mim-texto p{
        color: #706F21 ;

    }

    .sobre-mim-texto a{
        display: none;
        width: fit-content;
        padding: 10px;
        font-size: 3rem;
        text-shadow: 1px 1px  #A0A19F;
        box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.75);
    }
}
@media screen and (max-width: 600px)  {

    .sobre-mim{
        padding: 0;
        height: 110vh;
        margin-bottom: 10vh;
    }

    .sobre-mim-principal{
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 0px 0px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0px;
        background-color: #F6F8F4;

    }
    .textos-sobre{
        width: 100%;
        height: 50%;
        height: min-content;
        justify-content: center;
    }

 
    .sobre-mim-topo{
        display: none;
    }

    .div-foto-jac{
        display: none;
    }


    .foto-sobre-mbl{
        display: block;
        width: 100%;
        height: 70%;
        background-image: url('../../assets/images/bg-sobremim.PNG');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 30px;
    }

    .sobre-mim-texto p{
     
        font-size: 1.2rem;
        font-weight: 300;
    }
    
    .sobre-mim-texto h1{
        color: #706F21 ;
    }
    
    .sobre-mim-texto p{
        color: #706F21 ;

    }

    .sobre-mim-texto a{
        display: none;
        width: fit-content;
        padding: 10px;
        font-size: 1.6rem;
        text-shadow: 1px 1px  #A0A19F;
        box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.75);
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 412px) {
    .sobre-mim-texto h1{
        font-size: 2rem;
    }
}