.espaco-mobile{
    width: 100vw;
    height: 320vh;
    background-color: #F5F7F4;
}

.espaco-local{
    width: 100vw;
    height: 100vh;
    margin-bottom: 100px;

    background-image: url('../../assets/images/espaco-bg-mbl.png');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-local{
    height: 90vh;
    width: 90vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-local h1{
    font-family: 'Agrandir';
    color: white;
    font-size: 30px;
    font-weight: 300;
}

.card-local{
    background-color: #F9F9F9;
    width: 90%;
    height: 70%;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-local-textos{
    text-align: center;
}

.card-local-btns{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

.card-local-btns a{
    width: 60%;
    background-color: #E7E7E4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.card-local-icon{
    width: 50px;
    height: 50px;
    background-color: #988A6F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.asa-norte-mbl{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 15px 27px -21px rgba(0,0,0,0.75);

    background-image: url('../../assets/images/loc-norte.PNG');
    background-size: cover;
    background-position: center;
}
.asa-sul-mbl{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 15px 27px -21px rgba(0,0,0,0.75);

    background-image: url('../../assets/images/loc-sul.PNG');
    background-size: cover;
    background-position: center;
}

.espaco-online-mbl{
    width: 100vw;
    height: 100vh;

    background-image: url('../../assets/images/espaco-cel-mbl.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.atd-online-mbl{
    width: 60vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.atd-online-mbl h2{
    font-family: 'Agrandir';
    color: #6F6F20;
    font-weight: 400;
}

.topicos-online-mbl{
    display: flex;
    align-items: center;
    width: 180px;
    
}

.topicos-online-mbl p{
    font-family: 'Agrandir';
    font-weight: 100 !important;
    font-size: 20px;
    color: #6F6F20;
}

@media screen and (min-width: 900px) {
    .espaco-mobile{
        display: none;
    }
}