*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Agrandir';
    src: url('assets/fonts/Agrandir-Regular.otf');
}


.app{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #F5F7F4;
}

.container{
    display: flex;
    flex-direction: column;
}

.topo{
    width: 100vw;
    height: 100vh;
}

.colado{
    position: sticky;
    z-index: 50;
    top: 0;
    height: 10vh;
}

@media screen and (max-width: 1500px) {
    .colado{
        display: none;
    }
}