
*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  scrollbar-width: thin; 
  scrollbar-color: transparent
}

body {
  margin: 0;
  overflow-x: clip;
  overflow-y: scroll;
  width: 100vw;
  padding: 0;

}
