.accordion {
    width: 680px;
    margin: 20px auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
}

.topo-accordion {
    border-radius: 30px;
    width: 94%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #777E5C;
    padding: 0 20px;
    transition: background-color 0.3s ease;

}

.topo-accordion svg {
    color: white;

}

.titulo-accordion {
    font-size: 18px;
    color: white;
    text-align: center;
    flex-grow: 1;
    cursor: pointer;
    margin-right: 30px;
    font-family: 'Agrandir';
}

.aberto .topo-accordion {
    background-color: #777E5C;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.texto-accordion {
    background-color: #ECECEC;
    padding: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: -5px;
}

.texto-accordion p {
    line-height: 1.6;
    color: #5B5B5B;
    text-align: left;
    margin: 0;
}

@media screen and (max-width: 1534px) {

}
@media screen and (max-width: 900px) and (min-width: 450px) {
    .accordion{
        width: 450px;
    }

    .titulo-accordion, .texto-accordion{
        font-size: 1rem;
        
    }
}
@media screen and (max-width: 450px) {
    .accordion{
        width: 400px;
    }

    .titulo-accordion, .texto-accordion{
        font-size: 1rem;
    }
}